.footer-wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-block {
  background-color: var(--base);
  width: 100%;
  border-top: 2px solid var(--inactive);
}

.footer-logo {
  width: 100px;
  padding-right: 100px;
}

.footer-contents {
  color: var(--primary);
  font-weight: 400;
  font-size: 14px;
}
