.layout-container {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-body) !important;
  /* max-width: 1080px; */
}

.layout-container {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 18px !important;
  /* max-width: 1080px; */
}
