/* Colors */
:root {
  --base: #f8f7f8;
  --primary: #282a5b;
  --primary-50: rgba(40, 42, 91, 0.5);
  --primary-focus: #c5c8e3;
  --secondary: #66c4ac;
  --secondary-focus: #b8e2d2;
  --neutral: #9dd1e1;
  --neutral-opacity: rgba(157, 209, 225, 0.22);
  --accent: #f2e5ab;
  --inactive: #d8d8d8;
}

/* Typography */
:root {
  --font-family-primary: "Saira", sans-serif;
  --font-family-secondary: "Open Sans", sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-size-h1: 50px;
  --font-size-h2: 40px;
  --font-size-h3: 22px;
  --font-size-body: 18px;
}

h1 {
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: var(--font-size-h1);
  font-style: normal;
  line-height: 1.06; /* 106% */
  letter-spacing: -0.5px;
}

h2 {
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: var(--font-size-h2);
  line-height: 1.25;
}

h3 {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h3);
}

body {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-body);
  line-height: 1.476; /* 147.619% */
  background-color: var(--base);
}

.layout-container {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-body) !important;
  /* max-width: 1080px; */
}

.layout-container {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 18px !important;
  /* max-width: 1080px; */
}

/* Links */
a {
  color: var(--secondary);
  text-decoration: none;
}

/* Buttons */
.button {
  background-color: var(--base);
  color: var(--primary);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: fit-content;
}

.button:hover {
  background-color: var(--primary);
  color: var(--base);
}

/* Secondary buttons */
.secondary-button-solar {
  background-color: var(--secondary-focus);
  color: var(--primary);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: fit-content;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

.secondary-button-solar:hover {
  background-color: var(--secondary);
  color: var(--base);
}

.base-button-solar {
  background-color: var(--base);
  color: var(--primary);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: fit-content;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

.base-button-solar:hover {
  background-color: var(--primary-focus);
  color: var(--primary);
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #282a5b;
}

/* Hero section styles */
.hero-section {
  display: flex;
  height: 935px;
  max-height: 100vh;
}

/* Left column styles */
.hero-column-left {
  position: relative; /* For positioning the overlay */
  width: 60%;
  background: var(--base); /* Fallback background color */
  background: linear-gradient(
    to bottom,
    var(--primary) 50%,
    transparent 100%
  ); /* Adjust the image path */
  background-size: cover;
  background-position: center;
}

/* Left column content styles */
.hero-column-left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 40px; /* Adjust as needed */
  color: white; /* Text color for title, subtitle, and button */
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* Right column styles */
.hero-column-right {
  width: 40%;
  background-color: var(--base); /* Background color from variable */
}

.hero-scroll-icon {
  width: 40px;
  fill: var(--secondary);
  filter: hue-rotate(0deg); /* Replace with the desired hue angle, if needed */
  bottom: 0;
  position: absolute;
}

.hero-scroll-icon-container {
  /* position: absolute; */
  bottom: 10%;
  margin-bottom: 40px;
  margin-top: 40px;
}

.navigation-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: var(--base);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100;
  height: 103px;
}

.navigation-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  align-items: center;
}

.phone-container {
  display: flex;
  align-items: center;
}

.whatsapp-svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 5px;
  fill: var(--secondary);
}

.block-content-first {
  display: flex;
  height: 935px;
}

/* Left column styles */
.block-content-first-left {
  position: relative; /* For positioning the overlay */
  width: 60%;
  background: var(--primary); /* Fallback background color */

  background-size: cover;
  background-position: center;
}

/* Left column content styles */
.block-content-first-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  /* padding: 40px;  */
  color: white; /* Text color for title, subtitle, and button */
  margin-left: auto;
  margin-right: auto;
}

/* Right column styles */
.block-content-first-right {
  width: 40%;
  background-color: var(--base); /* Background color from variable */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-content-first-right-image {
  width: 85%;
  height: 85%;
  object-fit: cover;
  margin-right: -3vw;
  z-index: 1;
}

.block-content-first-right-image-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: -7vw;
  width: 100%;
  height: 75%;
}

.second-content-block {
  display: flex;
  height: 935px;
  color: var(--primary);
}

.second-content-block-left {
  width: 40%;
  background-color: var(--base);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second-content-block-right {
  background-color: var(--neutral-opacity);
  position: relative;
  width: 60%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-content-block-right-shortened {
  width: 50%;
}

.second-content-block-left-image-container {
  position: relative;
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.second-content-block-left-image {
  width: 93%;
  height: 70%;
  object-fit: cover;
  margin-right: -10vw;
  z-index: 1;
  aspect-ratio: 1/1;
}

.contextual-region > h2 {
  display: none;
}

/* Hide the block description for the custom block "second content block" */
[data-drupal-block-id="second-main-content-paragraph"] .field--name-body {
  display: none;
}

/* Hide the title for the custom block "The second content block" */
[data-drupal-block-id="second-main-content-paragraph"] h2.block-title {
  display: none;
}

/* .usp-component {
  height: 935px;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.usp-block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
}

.usp-title {
  color: var(--primary);
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.usp-title-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}

.usp-component {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.usp-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.usp-icon-container {
  width: 75px;
  height: 75px;
  padding: 15px;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--inactive);
}

.usp-icon {
  aspect-ratio: 1/1;
  width: 50px;
  fill: var(--secondary);
}

.usp-text {
  padding-top: 10px;
  font-weight: 700;
  font-size: 18px;
  color: var(--primary);
  margin-right: 100px;
  margin-left: 100px;
}

.testimonial-location {
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  color: var(--primary);
}

.testimonial-block {
  display: flex;
  /* grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); */
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.testimonial {
  display: flex;
  justify-content: center;
}

.testimonial-title {
  color: var(--primary);
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-user {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.testimonial-star {
  display: flex;
}

.testimonial-star-icon {
  width: 20px;
}

.testimonial-wrapper {
  background-color: var(--base);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-block {
  background-color: var(--base);
  width: 100%;
  border-top: 2px solid var(--inactive);
}

.footer-logo {
  width: 100px;
  padding-right: 100px;
}

.footer-contents {
  color: var(--primary);
  font-weight: 400;
  font-size: 14px;
}
