/* Kleuren */
:root {
  --base: #f8f7f8;
  --primary: #282a5b;
  --primary-50: rgba(40, 42, 91, 0.5);
  --primary-focus: #c5c8e3;
  --secondary: #66c4ac;
  --secondary-focus: #b8e2d2;
  --neutral: #9dd1e1;
  --accent: #f2e5ab;
}

/* Typeface */
h1 {
  font-family: "Saira", sans-serif;
  font-weight: 500;
  font-size: 50px;
}

h2 {
  font-family: "Saira", sans-serif;
  font-weight: 500;
  font-size: 40px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.layout-container {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 18px !important;
  max-width: 1080px;
}

/* Links */
a {
  color: var(--secondary);
  text-decoration: none;
}

/* Buttons */
.button {
  background-color: var(--base);
  color: var(--primary);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: fit-content;
}

.button:hover {
  background-color: var(--primary);
  color: var(--base);
}

/* Secondary buttons */
.secondary-button-solar {
  background-color: var(--secondary-focus);
  color: var(--primary);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: fit-content;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

.secondary-button-solar:hover {
  background-color: var(--secondary);
  color: var(--base);
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #282a5b;
}

/* Hero section styles */
.hero-section {
  display: flex;
  height: 100vh;
}

/* Left column styles */
.hero-column-left {
  position: relative; /* For positioning the overlay */
  width: 60%;
  background: var(--primary); /* Fallback background color */
  background: linear-gradient(
    to bottom,
    var(--primary) 50%,
    transparent 100%
  ); /* Adjust the image path */
  background-size: cover;
  background-position: center;
}

/* Left column overlay */
.hero-column-left {
  position: relative; /* For positioning the overlay */
  background-size: cover;
  background-position: center;
  padding-left: 100px;
  padding-right: 100px;
}

/* Left column content styles */
.hero-column-left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 40px; /* Adjust as needed */
  color: white; /* Text color for title, subtitle, and button */
}

/* Right column styles */
.hero-column-right {
  width: 40%;
  background-color: var(--base); /* Background color from variable */
}

.hero-scroll-icon {
  width: 40px;
  filter: invert(100);
}

.hero-scroll-icon-container {
  position: absolute;
  bottom: 10%;
  margin-bottom: 20px;
}
