/* Kleuren */
:root {
  --base: #f8f7f8;
  --primary: #282a5b;
  --primary-50: rgba(40, 42, 91, 0.5);
  --primary-focus: #c5c8e3;
  --secondary: #66c4ac;
  --secondary-focus: #b8e2d2;
  --neutral: #9dd1e1;
  --accent: #f2e5ab;
}

/* Typeface */
h1 {
  font-family: "Saira", sans-serif;
  font-weight: 500;
  font-size: 50px;
  font-style: normal;
  line-height: 53px; /* 106% */
  letter-spacing: -0.5px;
}

h2 {
  font-family: "Saira", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px; /* 147.619% */
}

.layout-container {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 18px !important;
  /* max-width: 1080px; */
}

/* Links */
a {
  color: var(--secondary);
  text-decoration: none;
}

/* Buttons */
.button {
  background-color: var(--base);
  color: var(--primary);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: fit-content;
}

.button:hover {
  background-color: var(--primary);
  color: var(--base);
}

/* Secondary buttons */
.secondary-button-solar {
  background-color: var(--secondary-focus);
  color: var(--primary);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: fit-content;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

.secondary-button-solar:hover {
  background-color: var(--secondary);
  color: var(--base);
}

.base-button-solar {
  background-color: var(--base);
  color: var(--primary);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: fit-content;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

.base-button-solar:hover {
  background-color: var(--primary-focus);
  color: var(--primary);
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #282a5b;
}

/* Hero section styles */
.hero-section {
  display: flex;
  height: 935px;
  max-height: 100vh;
}

/* Left column styles */
.hero-column-left {
  position: relative; /* For positioning the overlay */
  width: 60%;
  background: var(--base); /* Fallback background color */
  background: linear-gradient(
    to bottom,
    var(--primary) 50%,
    transparent 100%
  ); /* Adjust the image path */
  background-size: cover;
  background-position: center;
}

/* Left column content styles */
.hero-column-left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 40px; /* Adjust as needed */
  color: white; /* Text color for title, subtitle, and button */
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* Right column styles */
.hero-column-right {
  width: 40%;
  background-color: var(--base); /* Background color from variable */
}

.hero-scroll-icon {
  width: 40px;
  fill: var(--secondary);
  filter: hue-rotate(0deg); /* Replace with the desired hue angle, if needed */
}

.hero-scroll-icon-container {
  /* position: absolute; */
  bottom: 10%;
  margin-bottom: 40px;
  margin-top: 40px;
}

.navigation-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: var(--base);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100;
}

.phone-container {
  display: flex;
  align-items: center;
}

.whatsapp-svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 5px;
  fill: var(--secondary);
}

.block-content-first {
  display: flex;
  height: 935px;
}

/* Left column styles */
.block-content-first-left {
  position: relative; /* For positioning the overlay */
  width: 60%;
  background: var(--primary); /* Fallback background color */

  background-size: cover;
  background-position: center;
}

/* Left column content styles */
.block-content-first-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  padding: 40px; /* Adjust as needed */
  color: white; /* Text color for title, subtitle, and button */
  margin-left: auto;
  margin-right: auto;
}

/* Right column styles */
.block-content-first-right {
  width: 40%;
  background-color: var(--base); /* Background color from variable */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-content-first-right-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block-content-first-right-image-container {
  position: relative;
  margin-left: -7vw;
  width: 100%;
  height: 75%;
}

.second-content-block {
  display: flex;
  height: 935px;
  color: var(--primary);
}

.second-content-block-left {
  width: 50%;
  background-color: var(--base);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second-content-block-right {
  background-color: var(--base);
  position: relative;
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-content-block-right-shortened {
  width: 75%;
}

.second-content-block-left-image-container {
  position: relative;
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: end;
}

.second-content-block-left-image {
  width: 75%;
  height: 100%;
  object-fit: cover;
}

.contextual-region > h2 {
  display: none;
}

/* Hide the block description for the custom block "second content block" */
[data-drupal-block-id="second-main-content-paragraph"] .field--name-body {
  display: none;
}

/* Hide the title for the custom block "The second content block" */
[data-drupal-block-id="second-main-content-paragraph"] h2.block-title {
  display: none;
}

/* .usp-component {
  height: 935px;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.usp-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.usp-title-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.usp-component {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.usp-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.usp-icon {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
