{# templates/molecules/navigation-container.twig #}
<div class="navigation-container">
  <div class="navigation-wrapper">
    {% for item in items %}
      {% if item.content['#paragraph'] is not empty %}
        {% set paragraph = item.content['#paragraph'] %}

        {# Display the logo if available #}
        {% if paragraph.field_logo|length %}
          {% include '@solar/atoms/navigation-container-logo.twig' %}
        {% endif %}

        {# Display the phone number with the phone icon #}
        <div class="phone-container">
          <span class="whatsapp-icon">
            {% include '@solar/atoms/phone-icon.svg.twig' %}
          </span>
          {% include '@solar/atoms/navigation-container-whatsapp.twig' %}
          <span style="color: var(--inactive)">&nbsp;/&nbsp;</span>
            {% include '@solar/atoms/navigation-container-phone.twig' %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
