{# paragraph--second-main-content-paragraph--default--second-content-block-left.html.twig #}
<div class="second-content-block-left">
  <div class="second-content-block-left-image-container">
    {% if paragraph.field_second_main_content_image %}
       {% include '@solar/atoms/content-block-image-left.twig' %}
    {% endif %}
  </div>
</div>
