{# templates/molecules/testimonial-user.twig #}
<div class="testimonial-user">
  <div class="testimonial-stars">
    {# Loop through a fixed number of stars (e.g., 5) and display the stars with appropriate colors #}
    {% for i in range(1, 5) %}
      {% include '@solar/atoms/star-icon-svg.twig' %}
    {% endfor %}
  </div>
    {% include '@solar/atoms/testimonial-content.twig' %}
    {% include '@solar/atoms/testimonial-author.twig' %}
</div>
