{# templates/molecules/usp-item.twig #}
<div class="usp-container">
  <div class="usp-item">
    {% include '@solar/atoms/usp-item-icon.twig' %}
    {% include '@solar/atoms/usp-item-text.twig' %}
  </div>
</div>
