<div class="usp-icon-container">
    {# Display the usp icon image using the img tag #}
    <img class="usp-icon" src="{{ file_url(paragraph.field_usp_icon.entity.uri.value) }}" alt="{{ paragraph.field_usp_icon.alt }}">
</div>