<!-- templates/hero-section.html.twig -->
<div{{ attributes.addClass('hero-section') }}>
  {% include '@solar/molecules/hero-title.html.twig' with {
    'title': 'Zonnepanelen schoonmaken verhoogt jouw rendement',
    'subtitle': 'Maar doe het wel op de juiste manier',
    'buttonLabel': 'Bekijk de video',
    'scrollSVGPath': '/alserda/sites/default/files/default_images/icons/scroll.svg'
  } %}

  <div class="hero-column-right">

  </div>
</div>
