<div class="navigation-container">
  <div class="navigation-wrapper">
    <div style="background-color: var(--base);
      display: flex;
      flex-direction: row;
      justify-content: space-between;">
      <div class="logo-container">
      {# Hide the label of the SVG image field #}
          <img src="{{ content.field_solar_logo_navigation[0]['#markup'] }}" alt="Logo">
      </div>

      <div class="phone-container">
        {{ content.field_phone_navigation }}
      </div>
    </div>
    </div>
</div>
