<!-- templates/organisms/block-content-first.html.twig -->
<div class="block-content-first">
  {% for item in content.field_content_first['#items'] %}
    {% set paragraph_entity = item.entity %}
    {% include '@solar/molecules/block-content-first-left.html.twig' with {
      'title': paragraph_entity.field_title_first_main.value,
      'subtitle': paragraph_entity.field_subtitle_first_main.value,
      'buttonLabel': paragraph_entity.field_button_first_main_text.value
    } %}

    {% include '@solar/molecules/block-content-first-right.html.twig' with {
      'image': paragraph_entity.field_image_first_main.entity
    } %}
  {% endfor %}
</div>