{# field--block-content--field-testimonial-reference--testimonial-block.html.twig #}
<div class="testimonial-wrapper">
      <h2 class="testimonial-title">Dit vinden klanten van Solar Cleaning Company</h2>
<div class="testimonial-block">
  {# Display the block description #}
  {% if content['#block_content'] %}
    <div class="block-description">
      {{ content['#block_content'].field_block_description.value }}
    </div>
  {% endif %}

  {# Loop through the "testimonial_reference" paragraphs #}
  {% for item in items %}
    {% if item.content['#paragraph'] is not empty %}
      {% set paragraph = item.content['#paragraph'] %}
      <div class="testimonial">
        {# Calculate the number of lit-up stars #}
        {% set numStars = paragraph.field_testimonial_review_stars.value|default(0) %}
        {# Ensure numStars is capped at 5 #}
        {% set cappedStars = numStars > 5 ? 5 : numStars %}

        {# Display the testimonial user and username #}
        <div class="testimonial-user">
          <div class="testimonial-stars">
            {# Loop through a fixed number of stars (e.g., 5) and display the stars with appropriate colors #}
            {% for i in range(1, 5) %}
              <svg class="testimonial-star-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none">
                <path fill="{% if i <= cappedStars %}var(--accent){% else %}var(--inactive){% endif %}" d="m12.062 20.07-7.416 3.928 1.416-8.32-6-5.894L8.354 8.57 12.062 1l3.708 7.57 8.292 1.214-6 5.893 1.416 8.32-7.416-3.928Z"/>
              </svg>
            {% endfor %}
          </div>
          <p>{{ paragraph.field_testimonial_user.value }}</p>
          <span class="testimonial-location">{{ paragraph.field_testimonial_username.value }} uit {{ paragraph.field_testimonial_location.value }}</span>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
</div>
