{# templates/field--block-content--field-usp-paragraph--usp-block-type.html.twig #}
<div style="width:100%; height:935px; background-image: url('/alserda/sites/default/files/default_images/energie.jpg'); background-size: cover; display:flex; flex-direction:column; justify-content:center;">
  <div class="usp-component">
    {% include '@solar/molecules/usp-title-block.twig' with { 'title': "Haal meer energie uit zonlicht" } %}
    <div class="usp-block">
      {% for item in items %}
        {% if item.content['#paragraph'] is not empty %}
          {% set paragraph = item.content['#paragraph'] %}
          {% include '@solar/molecules/usp-item.twig' %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
