{# templates/organisms/footer-block.twig #}
<div class="footer-block">
  <div class="footer-wrapper">
    {% for item in items %}
      {% if item.content['#paragraph'] is not empty %}
        {% set paragraph = item.content['#paragraph'] %}

        <div class="logo-container">
          {# Include the footer-logo.twig component and pass the required variables #}
          {% include '@solar/atoms/footer-logo.twig' with {
            uri: paragraph.field_footer_logo.entity.uri.value,
            alt: paragraph.field_footer_logo.alt
          } %}
        </div>

        <div class="footer-contents">
          <p>{{ paragraph.field_footer_contents.value }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
