{# paragraph--second-main-content-paragraph--default--second-content-block.html.twig #}
{# Hide the paragraph title by not rendering it #}
{% if paragraph.label %}
  {# Do not render the title #}
{% endif %}

<div class="second-content-block">
  {% include '@solar/molecules/second-content-block-left.html.twig' %}
  {% include '@solar/molecules/second-content-block-right.html.twig' %}

</div>
