{#
  paragraph--solar-navigation-paragraph.html.twig
  Twig template for the Solar Navigation Paragraph.
#}
<div class="solar-navigation-paragraph">
  {{ content.field_solar_navigation_paragraph }}
</div>
